In [2]:
import pandas as pd
import json

In [3]:
request = open("cities.json")
data = json.load (request)
df = pd.DataFrame(data)
df.head(10)

          city country  pop2023  latitude  longitude     fill
0      Toronto  Canada  2600000   43.7001   -79.4163  #3288bd
1     Montreal  Canada  1600000   45.5088   -73.5878  #99d594
2      Calgary  Canada  1019942   51.0501  -114.0850  #99d594
3       Ottawa  Canada   812129   45.4112   -75.6981  #e6f598
4     Edmonton  Canada   712391   53.5501  -113.4690  #ffffbf
5  Mississauga  Canada   668549   43.5789   -79.6583  #ffffbf
6     Winnipeg  Canada   632063   49.8844   -97.1470  #ffffbf
7    Vancouver  Canada   600000   49.2497  -123.1190  #ffffbf
8     Brampton  Canada   593638   43.6834   -79.7663  #ffffbf
9       Quebec  Canada   528595   46.8123   -71.2145  #ffffbf

In [4]:
df.to_csv("cities.csv")